[Unit]
Description=Goodwe USB Logger
After=basic.target

[Service]
Type=simple
User=goodwe
Group=goodwe
ExecStart=/opt/goodweusblogger/GoodWe.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

